<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="assets/logo.png">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
    </div>
  </div>
</div>