<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Settings</h4>
  <button type="button" class="close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="container"> 
    <div class="form-group">
      <label>Settings File</label>
      <div class="d-flex">
        <input 
          type="text" 
          name="settingsFile" 
          class="form-control" 
          placeholder="/path/to/settings.ini" 
          [(ngModel)]="settingsFile"
          #settingsFileCtrl="ngModel">
        <button type="button" class="btn btn-primary ml-1" (click)="updateSettingsFile()">Update</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Animation Name</label>
          <input 
            type="text" 
            name="aniName" 
            class="form-control" 
            placeholder="My Animation" 
            [(ngModel)]="settings?.animation.name"
            #aniName="ngModel">
        </div>
        <div class="form-group">
          <label>Output Dir</label>
          <input 
            type="text" 
            name="outputDir" 
            class="form-control" 
            placeholder="/path/to/output/dir" 
            [(ngModel)]="settings?.animation.output_dir"
            #outputDir="ngModel">
        </div>
        <div class="form-group">
          <label>Play Speed</label>
          <input 
            type="text" 
            name="playSpeed" 
            class="form-control" 
            placeholder="/path/to/output/dir" 
            [(ngModel)]="settings?.animation.interval"
            #playSpeed="ngModel">
        </div>
        <div class="form-row">
          <div class="col-12">
            <label>Preview Window</label>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">X Pos</span>
              </div>
              <input 
                type="text" 
                name="previewX" 
                class="form-control" 
                placeholder="x pos" 
                [(ngModel)]="settings?.preview.x"
                #previewX="ngModel">
            </div>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Y Pos</span>
              </div>
              <input 
                type="text" 
                name="previewY" 
                class="form-control" 
                placeholder="y pos" 
                [(ngModel)]="settings?.preview.y"
                #previewY="ngModel">
            </div>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Width</span>
              </div>
              <input 
                type="text" 
                name="previewWidth" 
                class="form-control" 
                placeholder="width" 
                [(ngModel)]="settings?.preview.width"
                #previewWidth="ngModel">
            </div>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Height</span>
              </div>
              <input 
                type="text" 
                name="previewheight" 
                class="form-control" 
                placeholder="height" 
                [(ngModel)]="settings?.preview.height"
                #previewHeight="ngModel">
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-default" (click)="activeModal.close()">Close</button>
      </div>
    </div>
  </form>
</div>